
.full-screen{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  width: 100%;
  height: 250px;
  background-color: green;
}

.bigbut {
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 54px;
  line-height: 54px;
  background: #ff4655;
  text-align: center;
  color: #ececec;
  text-transform: uppercase;
  font-weight: 500;
  transition: .4s linear;
  cursor: pointer;
}

.bigbut:hover{
  background: #0f1923;
}


.bigtxt {
  text-align: center;
  margin-top: 25px;
  }

  .mc-ip {
    text-align: center;
    margin-top: 25px;
    }

@media screen and (max-width:800px) {
  .bigbut {
    visibility: hidden;
  }

  .mc-ip {
    border-color: #000;
    border-style: solid;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
